<div class="container my-5">
  <h1 class="mb-3">Vulcanizations</h1>

  <table class="table" *ngIf="vulcanizations">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Street</th>
        <th>PostalCode</th>
        <th>Email</th>
        <th>PhoneNumber</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vul of vulcanizations">
        <td>{{ vul.name }}</td>
        <td>{{ vul.description }}</td>
        <td>{{ vul.city }}</td>
        <td>{{ vul.street }}</td>
        <td>{{ vul.postalCode }}</td>
        <td>{{ vul.email }}</td>
        <td>{{ vul.phoneNumber }}</td>
        <td><button type="button" class="btn1" (click)="openDialog(vul.id)">Services</button></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!vulcanizations">No vulcanizations found</p>
</div>
